@font-face {
    font-family: 'Avara_Bold';
    src:    url('Bold/Avara-Bold_web.eot');
    src:    url('Bold/Avara-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('Bold/Avara-Bold_web.woff') format('woff'),
            url('Bold/Avara-Bold_web.woff2') format('woff2'),
            url('Bold/Avara-Bold_web.ttf') format('truetype'),
            url('Bold/Avara-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avara_Bold Italic';
    src:    url('BoldItalic/Avara-Bold_Italic_web.eot');
    src:    url('BoldItalic/Avara-Bold_Italic_web.eot?#iefix') format('embedded-opentype'),
            url('BoldItalic/Avara-Bold_Italic_web.woff') format('woff'),
            url('BoldItalic/Avara-Bold_Italic_web.woff2') format('woff2'),
            url('BoldItalic/Avara-Bold_Italic_web.ttf') format('truetype'),
            url('BoldItalic/Avara-Bold_Italic_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:    url('Black/Avara-Black_web.eot');
    src:    url('Black/Avara-Black_web.eot?#iefix') format('embedded-opentype'),
            url('Black/Avara-Black_web.woff') format('woff'),
            url('Black/Avara-Black_web.woff2') format('woff2'),
            url('Black/Avara-Black_web.ttf') format('truetype'),
            url('Black/Avara-Black_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: 'Lack-Regular'; src: url('Lack-Regular.woff'); }
@font-face { font-family: 'Lack-Italic'; src: url('Lack-Italic.woff'); }
@font-face { font-family: 'Lack-Line-Regular'; src: url('Lack-Line-Regular.woff'); }
@font-face { font-family: 'Lack-Line-Italic'; src: url('Lack-Line-Italic.woff'); }



html
html, body {
  margin: 0;
  padding: 0;
  line-height:150%;
  font-family: 'Libre Caslon Display', serif;
  scroll-behavior:smooth;
  margin-left: auto;
  margin-right: auto;
}

/***** sticky header ****/
  .container {
  padding: 30px;
  text-align: center;
  }

  .grid {
  padding: 0px 16px;
  color: #f1f1f1;
  /*background-color:rgba(255,248,220,0.5);*/
  }

  .content {
  }

  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:#FAFAFA;
  z-index: 99;
  opacity: 0.8;
  }

  .sticky + .content {
  padding-top: 0px;
  }
/*********/


.background{
  background-color: #FAFAFA;
  min-height:100vh;
}


p{
  font-size: 1.4vw;
}
h1, h2, h3, h4, h5{
  font-family: 'Libre Caslon Display', serif;
}

h2{
  font-size: 5vw;
}
h3{
  margin-top: 500px;
  font-size: 3vw;
  text-align: center;
}

h5{
  margin-left: 100px;
  font-size: 1.5vw;
}

.container{
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 100px;
}

  .Bienvenue{
    margin-top: 100px;;
    left:17px;
    font-size: 2vw;
    font-size-adjust: auto;
    text-align: center;
    letter-spacing: 70px;
    position : relative;
    animation-name: Bienvenue;
    animation-duration: 3s;
    transition: all 3s;
  }
  @keyframes Bienvenue {
   from{
     left:-2000px;
   }
   to{
     left:17px;
   }
  }

  .Bienvenue2{
    left:0px;
    font-size: 2vw;
    font-size-adjust: auto;
    text-align: center;
    letter-spacing: 20px;
    animation-name: Bienvenue2;
    position: relative;
    animation-duration: 4s;
    transition: all 3s;
  }
  @keyframes Bienvenue2 {
   from{
     left:-2000px;
   }
   to{
     left:0px;;
   }
  }
  .Bienvenue3{
    left:-15px;
    font-size: 2vw;
    font-size-adjust: auto;
    text-align: center;
    letter-spacing: 0.3vw;
    animation-name: Bienvenue3;
    position: relative;
    animation-duration: 5s;
    transition: all 3s;
  }
  @keyframes Bienvenue3 {
   from{
     left:-2000px;
   }
   to{
     left:-15px;;
   }
  }

.Bienvenue3:hover{
  letter-spacing: 0.5vw;

}

.Bienvenue:hover{
  letter-spacing: 6vw;

}
.Bienvenue2:hover{
  letter-spacing: 4vw;

}
.grid{
  margin-top:60px;
  padding:20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  animation: slow2 3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
  transform: translate(0%,-50%);
}
a{
  font-size: 1.3em;
  text-decoration: none;
  color: black;
  font-family: 'Libre Caslon Display', serif;

}
a:hover{
  text-decoration: underline;
  color:#FF8C00;
}

@keyframes slow2 {
  from {
    transform: translate(0%,-20%);
    opacity: 0;
  }
  to {
    transform: translate(0%,-100%);
    opacity:1 ;
  }
}

.Toni{
  margin-top:10px;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vh;
  text-align: center;
}

.bonjour{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 30vh;
  margin-right: 30vh;
  text-align: justify;
}
.bonjour_2{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 30vh;
  margin-right: 30vh;
  text-align: justify;
}
.bonjour_2 p {
  text-align: justify;
  font-family: 'Libre Caslon Display', serif;
  font-size: 17px;
}
.bonjour_3{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 30vh;
  margin-right: 30vh;
  text-align: justify;
}
.bonjour_3 p {
  text-align: justify;
  font-family: 'Libre Caslon Display', serif;
  font-size: 17px;
}
.bonjour p {
  font-size: 17px;
}
article p {
  text-align: justify;
  font-family: 'Libre Caslon Display', serif;
  font-size: 17px;
}

.grid3{
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-right: 60px;
}

.grid3 a {
  font-size: 4vw;
}
.grid4 a {
  grid-template-columns: 1fr;
  text-align: center;
  font-size: 6vw;
}

.photomoi {
  grid-template-columns: 1fr ;
  margin-left: 32vh;
  margin-right: 32vh;;
  margin-top: -15vh
}

.photomoi img{
  width: 100em;
}

.moi{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  margin-left: 380px;
  margin-top: 80px;
}
.moi2{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  margin-top: 80px;
}
.moi3{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  margin-top: 80px;
  grid-gap: 70px;
  text-align: justify;
  margin-left: 320px;
  width: 800px;
}
.moi3 p {
  font-size: 1vw;
}
.moi img{
  width: 15vh;
}

.projet2 {
  display: grid;
  grid-template-columns: 1fr ;
  grid-column: span 2;
  margin-left: 295px;
  margin-top: 100px;
}
.projet2 img {
  width: 250px;
}

.item12 {
  display: grid;
  grid-template-columns: 1fr ;
  margin-left: 220px;

}
.item12 img {
  width: 250px;
}

.text1{
  text-align: center;
  margin-top: 100px;
}
.background2 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
}
.Murapiclaf{
  opacity: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 390px;
  animation: op 3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
  margin-bottom: 70px;
}
.Murapiclaf img {
  width: 600px;
}

.mura img{
  width: 450px;
  margin-left: 80px;
}

.projet:hover{
  opacity: 0%;
}
@keyframes op {
  from {
    opacity: 0;
  }
  to {
    opacity:1 ;
  }
}


.responsive {
  max-width: 100%;
  height: auto;
}


figcaption{
  margin-left: 30px;
}

.photoo{
  opacity: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 230px;
  margin-top: 30px;
  animation: op 3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
}
.photoo img {
  width: 330px;;
}
.affiche{
  opacity: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 35vh;
  margin-right: 35vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  grid-gap: 7%;

}
.affiche img {
  width: 30vh;
}

.moma{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top:100px;
  margin-left: 230px;
  margin-bottom: 100px;
}
.moma img {
  width: 350px;
  filter: drop-shadow(10px 10px 10px #aaa);
}

.photoo3{
  opacity: 100%;
  display: grid;
  grid-template-columns: 1fr ;
  margin-left: 190px;
  margin-top: 30px;
  animation: op 3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
}
.photoo3 img {
  width: 1030px;
}
.photoo4{
  opacity: 100%;
  display: grid;
  grid-template-columns: 1fr ;
  margin-left: 300px;
  margin-top: 30px;
  animation: op 3s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
}
.photoo4 img {
  width: 800px;
}

.video{
  margin-top: 70px;
  text-align: center;
}
.eolipile {
  overflow:hidden;
  padding-bottom:56.25%;
  height:0;
}

.eolipile iframe {
  margin-left: 20%;
  height:60%;
  width:60%;}

footer{
text-align: center;
background-color: #FAFAFA;
padding-top: 1vh;
}

footer p {
font-size: 15px;
}


@media screen and (max-width: 1024px) {

  .projet {
    grid-template-columns: 1fr ;
    margin-left: 50px;
    margin-top: -150px;
  }

  .projet img{
    width: 850px;
  }
  .moma{
    margin-left: 170px;
  }
  .moma img {
    width: 250px;
  }
  .Murapiclaf{
    margin-left: 27vh;
    margin-right:auto;
  }
  .Murapiclaf img {
    width: 60vh;
  }

  .photomoi {
    grid-template-columns: 1fr ;
    margin-left: 31vh;
    margin-right: 31vh;
  }
  .bonjour{
    display: block;
    margin: 0 auto;
    margin-left: 10vh;
    margin-right: 10vh;
  }
  .bonjour p{
    text-align: justify;
  }
  .affiche{
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 7vh;
    margin-right: 7vh;
    grid-gap: 7%;
  }
  .affiche img {
    width: 25vh;
  }
  .moma{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 35vh;
  }
  .moma img {
    width: 40vh;
    padding-top: 10vh;
  }
}

  @media screen and (min-width: 601px) and (max-width: 960px) {
    .bonjour{
      margin-top:10px;
      display: block;
      margin: 0 auto;
      text-align: center;
      margin-left: 20vh;
      margin-right: 20vh;
    }
    .photomoi {
      grid-template-columns: 1fr ;
      margin-top: -7vh;
      margin-left: 20vh;
      margin-right: 20vh;
    }
    .affiche{
      grid-template-columns: 1fr 1fr;
      margin-left: 7vh;
      margin-right: 7vh;
      grid-gap: 7%;
    }
    .affiche img {
      width: 40vh;
    }
    .bonjour_2{
      margin-top: 30vh;
    }

  }
  @media screen and (max-width: 600px) {

    .affiche{
      grid-template-columns: 1fr;
      margin-left: 17vh;
      margin-right: 17vh;
      grid-gap: 7%;
    }
    .affiche img {
      width: 30vh;
    }
    .bonjour{
      display: block;
      margin: 0 auto;
      margin-left: 10vh;
      margin-right: 10vh;
    }
    .bonjour_2{
      display: block;
      margin: 0 auto;
      margin-left: 10vh;
      margin-right: 10vh;
      margin-top: 30vh;
    }
    .bonjour_2 p {
      text-align: justify;
      font-family: 'Libre Caslon Display', serif;
      font-size: 17px;
    }
    .bonjour_3{
      display: block;
      margin: 0 auto;
      margin-left: 10vh;
      margin-right: 10vh;

    }
    .bonjour_2 p {
      text-align: justify;
      font-family: 'Libre Caslon Display', serif;
      font-size: 17px;
    }
    .bonjour p{
      text-align: justify;
    }
    .photomoi {
      grid-template-columns: 1fr ;
      margin-top: -10vh;
      margin-left: 10vh;
      margin-right: 10vh;
    }
    .moma{
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 16vh;
    }
    .moma img {
      width: 30vh;
      padding-top: 10vh;
    }
    .Murapiclaf{
      margin-left:4.7vh;

    }
    .Murapiclaf img {
      width: 52vh;
    }
    .gif{
      width: 20vh;
      text-align: center;
    }
    .Bienvenue{
      margin-top: 100px;;
      left:5%;
      font-size: 2vw;
      font-size-adjust: auto;
      text-align: center;
      letter-spacing: 50px;
      position : relative;
      animation-name: Bienvenue;
      animation-duration: 3s;
      transition: all 3s;
    }
    @keyframes Bienvenue {
     from{
       left:-100%;
     }
     to{
       left:5%;
     }
    }

    .Bienvenue2{
      left:1%;
      font-size: 2vw;
      font-size-adjust: auto;
      text-align: center;
      letter-spacing: 7px;
      animation-name: Bienvenue2;
      position: relative;
      animation-duration: 4s;
      transition: all 3s;
    }
    @keyframes Bienvenue2 {
     from{
       left:-100%;
     }
     to{
       left:1%;
     }
    }
    .Bienvenue3{
      left:-1.5%;
      font-size: 3vw;
      font-size-adjust: auto;
      text-align: center;
      letter-spacing: 0.3vw;
      animation-name: Bienvenue3;
      position: relative;
      animation-duration: 5s;
      transition: all 3s;
    }
    @keyframes Bienvenue3 {
     from{
       left:-100%;
     }
     to{
       left:-1.5%;
     }
    }
  }
